<h1>Add category</h1>

<div class="bs-docs-section">
    <div class="well">
        <?php
            $form->setAttribute('action', $this->url('admin/category', ['action' => 'add']));
            $form->prepare();

            echo $this->form()->openTag($form);
        ?>

        <?php

            /**
             * @var Zend\Form\Element\Text $element
             */

            foreach($form as $element) : ?>
                <div class="form-group">
                    <?php

                        $attributes = $element->getAttributes();

                        if ($element->getLabel()) {
                            $element->setLabelAttributes(['class' => 'col-lg-2 control-label']);
                            if (isset($attributes['required'])) {
                                $element->setLabel($element->getLabel() . ' *');
                            }
                        }

                        if (isset($attributes['type']) and $attributes[ 'type'] == 'text') {
                            echo $this->formLabel($element);
                            ?>
                                <div class="col-lg-10">
                                    <?= $this->formInput($element) ?>
                                </div>
                            <?php
                        } elseif (isset($attributes['type']) and $attributes[ 'type'] == 'textarea') {
                            echo $this->formLabel($element);

                        } else {
                            ?>
                                <div class="col-lg-10">
                                    <?= $this->formRow($element) ?>
                                </div>
                            <?php
                        }
                    ?>
                </div>
        <?php endforeach ?>

        <?php
            echo $this->form()->closeTag($form);

        ?>
    </div>
</div>