<h1>Categories</h1>
<?php ?>
<a href="/admin/category/add/" class="btn btn-default">Pievienot</a>
<?php
    $flash = $this->flashMessenger();
    $flash->setMessageOpenFormat('<div>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times
        </button>
        <ul><li>
    ')
        ->setMessageSeparatorString('</li><li>')
        ->setMessageCloseString('</li></ul></div>')
    ;

    echo $flash->render('error', ['alert', 'alert-dismissable', 'alert-danger']);
    echo $flash->render('info', ['alert', 'alert-dismissable', 'alert-info']);
    echo $flash->render('default', ['alert', 'alert-dismissable', 'alert-warning']);
    echo $flash->render('success', ['alert', 'alert-dismissable', 'alert-success']);

?>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>
                #
            </td>
            <td>
                Title
            </td>
            <td>
                Key
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
    <?php foreach($categories as $category): ?>
        <tr>
            <td>
                <?= $category->getId() ?>
            </td>
            <td>
                <?= $category->getCategoryKey() ?>
            </td>
            <td>
                <?= $category->getCategoryName() ?>
            </td>
            <td>
                <a href="<?= $this->url('admin/category', ['action' => 'edit', 'id' => $category->getId()]) ?>">Edit</a>
                <a href="<?= $this->url('admin/category', ['action' => 'delete', 'id' => $category->getId()]) ?>">Delete</a>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
</table>